extends layout

block content
  h1= title
  p Welcome to #{title}. Let's get started!

  <button (type="button", onclick="moreClaps()", class="btn btn-secondary")>Press Me</button>

  <div id="target">Clap for me</div>

  script.
    var clap_count = 0;

    function moreClaps() {
      clap_count = clap_count + 2;
    
    const div = document.querySelector('div')  
    div.innerHTML = "Clap " + clap_count + " times";

    
    }

    var image_names = ["bird 1", "bird 2", "bird 3", "tree 1", "tree 2"];

   for (let step = 0; step < 3; step++) {
    Math.floor(Math.random()*5)

    img[0].src = '\images\bird 1.jpg" alt = "" height="300" width="300"; 
    img[1].src = "\images\bird 2.jpg" alt = "" height="300" width="300"; 
    img[2].src = "\images\bird 3.jpg" alt = "" height="300" width="300"; 
    img[3].src = "\images\tree 1.jpg" alt = "" height="300" width="300"; 
    img[4].src = "\images\tree 2.jpg" alt = "" height="300" width="300"; 
    
}
